{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SentiMail</title>
  <link rel="stylesheet" href="{% static 'base/styles.css' %}" />
  <link rel="icon" href="{% static 'base/favicon.ico' %}" />
</head>
<body>

<header>
  {% if user.is_authenticated %}

    <div class="navbar">
      <div class="left-menu">
        <a href="{% url 'index' %}"><button class="spec-button">Home</button></a>
        <a href="{% url 'about' %}"><button class="spec-button">About</button></a>
        <a href="{% url 'api_doc' %}"><button class="spec-button">API</button></a>
      </div>
      <div class="right-menu">
        <a href="{% url 'logout' %}"><button class="spec-button">Logout</button></a>
        <a href="{% url 'account' %}"><button class="spec-button">Account</button></a>
        <a href="{% url 'historic' %}"><button class="spec-button">Historic</button></a>
      </div>
    </div>
      <div class="right-menu">
        <!-- Boutons spécifiques à un utilisateur connecté -->



      </div>
    </div>

  {% else %}
    <div class="navbar">
      <div class="left-menu">
        <a href="{% url 'index' %}"><button class="spec-button">Home</button></a>
        <a href="{% url 'about' %}"><button class="spec-button">About</button></a>
        <a href="{% url 'api_doc' %}"><button class="spec-button">API</button></a>

      </div>
      <div class="right-menu">
        <a href="{% url 'login' %}"><button class="spec-button">Login</button></a>
        <a href="{% url 'signup' %}"><button class="spec-button">Signup</button></a>
      </div>
    </div>


  {% endif %}
</header>

{% block content %}
{% endblock %}
</body>
</html>
