{% load static %}

<html>
  <head>
    <title>SentiMail</title>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}" />
  </head>
  <body>
    <header>
        <h1>SentiMail</h1>
        {% if user.is_authenticated %}
        <p>Welcome ! {{ request.user }}.</p>
        <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
        <a href="{% url 'login' %}">Se connecter</a>
        <a href="{% url 'signup' %}">S'inscrire</a>
        {% endif %}
        
        <h2>Accueil</h2>
    </header>
    {% block content %}
    {% endblock %}
   <!--  {%  if user.is_authenticated %}
      <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
    {% endif %} -->
    <footer>
        <p>
            SentiMail
        </p>
  </body>
</html>
