{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% if not analysis %}
  <div class="analysis-block">
    <h2 class="number-analyse">No analysis yet</h2>
  </div>

{% else %}
  {% for mail in analysis %}
    <div class="analysis-block">
      <h2 class="number-analyse">Analyse n° {{ forloop.counter }}</h2>
      <div class="analysis-details">
        <p>Date : {{ mail.delivery_date }}</p>
        <p>Result : {{ mail.score }}</p>
        {% if mail.isReady == True %}
        <p>Details : <a href="/../result/{{mail.uuid}}/">Show result</a></p>
        {% else %}
        <p>Analysis in progress</p>
        {% endif %}

      </div>
      <div>
        <p>Sender: {{ mail.sender }}</p>
        <p>To: {{ mail.recipient }}</p>
        <p>Subject: {{ mail.subject }}</p>
      </div>
      <hr>
    </div>

  {% endfor %}
  {% endif %}
{% endblock %}
